[Unit]
Description=CKB Transactions Pool Fuzzer

[Service]
WorkingDirectory=/ckb/txpool-fuzzer
ExecStart=/usr/local/bin/ckb-txpool-fuzzer
Restart=always
KillMode=mixed
TimeoutStopSec=60s
User=ckb
Group=ckb
LimitNOFILE=1048576
LimitNPROC=512

[Install]
WantedBy=multi-user.target
